- @page_title = 'Galleries - ' + default_page_title
= render 'head'

#galleries_content

  %h2 Galleries
  %p Galleries let you organise items you want your visitors to see

  #galleries
    #gallery_create.gallery{:'data-id' => '', :'data-title' => ''}
      %span.title New Gallery
    %ul#galleries_list
      = render :partial => '/admin/galleries/gallery', :collection => @galleries
      - if @galleries.empty?
        %li#galleries_empty.gallery
          %span.title Nothing Yet
    
  #gallery
    = render 'form'
      
#assets_content
  
  %h2 Items
  %p Clicking on an item adds it to the gallery
  
  #assets
    
    #asset_create.asset
      %span.title
        %a.popup{:href => '#asset_create-popup'} New Item
    
    %ul#assets_list
      = render :partial => 'admin/galleries/assets/denied'
      
    #asset_create-popup{ :style => 'display:none' }
      = render :partial => 'admin/galleries/assets/form'
    
#galleries_routes
  = render :partial => '/admin/galleries/routes'