- @page_title = 'Galleries - ' + default_page_title
= render 'head'

#galleries_content

  %h2 Galleries
  %p Galleries let you organise items you want your visitors to see

  #galleries
    #gallery_create.gallery{:'data-id' => nil, :'data-title' => ''}
      %span.title New Gallery
    %ul#galleries_list
      = render :partial => '/admin/galleries/gallery', :collection => @galleries
      - if @galleries.empty?
        %li#galleries_empty.gallery
          %span.title Nothing Yet
    
  #gallery
    #gallery_fields
      = render :partial => 'fields'
    #gallery_items
      %span.note you can drag these items around to reorder them
      %ul#gallery_items_list
        %li#gallery_items_list_empty.gallery_item{:'data-item_id' => nil}
          %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
          %span.title Drag Items Over
      #gallery_items_remove
        %span.title you can drop an item here to remove it
      
#assets_content
  
  %h2 Items
  %p Click on an item to add it to the gallery
  
  #assets
    
    #asset_create.asset
      %span.title New Item
    
    %ul#assets_list
      = render :partial => '/admin/galleries/asset', :collection => @assets
      - if @assets.empty?
        %li#assets_empty.asset{:'data-asset_id' => nil}
          %span.title No Items Left
          %sapn.caption Create an item to get started
    
#galleries_routes
  = render :partial => '/admin/galleries/routes'