- @page_title = t('galleries') + ' - ' + default_page_title

.outset
  = render_region :top
  %table#site_map.index{:summary=>"Galleries created for the site"}
    - render_region :thead do |thead|
      %thead
        %tr
          - thead.title_header do
            %th.page= t('gallery') 
          - thead.description_header do
            %th.description= t('handle')
          - thead.modify_header do
            %th.modify{:colspan=>'2'}= t('modify')
    - render_region :tbody do |tbody|
      - tbody.thumbnail_cell do; end
      - tbody.title_cell do; end
      - tbody.description_cell do; end
      - tbody.remove_cell do; end
      %tbody
        - if @galleries.empty?
          %tr
            %td.empty{:colspan => admin.galleries.index.thead.length}= t('no_galleries')
        - else
          = render :partial => 'node', :collection => @galleries
  #actions
    = render 'bottom'