- form_for :asset, :url => create_admin_gallery_asset_path(:format => 'js'), :html => { :method => "post", :multipart => true, :target => 'asset_frame', :id => 'asset_form' } do |f|
  %ol
    %li#field_asset_title
      = f.label :title, 'Name'
      = f.text_field :title, :class => 'clearable'
      %span.note This is optional
    %li#field_asset_caption
      = f.label :caption
      = f.text_field :caption, :class => 'clearable'
      %span.note This is optional
    %li#field_asset_asset
      = f.label :asset, 'Choose File'
      = f.file_field :asset, :class => 'clearable'

    .upload-buttons
      = f.submit 'Create'
  
  %iframe#asset_frame{ :name => 'asset_frame', :src => 'about:blank' }

%a#asset_create-popup_close{ :href => '#' } Close